.home{
    height: max-content;
    width: 100vw;

    .Home_hero{
        height: 100vh;
        width: 100vh;
        overflow: hidden;
    
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            background: transparent;
        }
        #p1{
            width: 100%;
            position: absolute;
            bottom: 10%;
            font-size: 2rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.4);
        }
        #p2{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            width: 100%;
            position: absolute;
            bottom: 4%;
            color: white;
            animation: blinking 3s ease-in-out infinite ;
        }
        
    } 
    .Cars_{
        width: 100vw;
        height: 110vh;
        min-height: max-content;

        p{
            margin-top: 7%;
            font-weight: bolder;
            font-size: 2.5rem;
            min-height: max-content;
        }
    }
    .Car_cards{
        position: relative;
        height: 75%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-height: max-content;

        .Card{
            height: 60vh;
            width: 50vh;
            border-radius: 3px;
            min-height: max-content;
            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.55);

            img{
                width: 100%;
                height: 50%;
                object-fit: cover; 
                object-position: center;
                min-height: max-content;
            }
            h2{
                margin-top: 15px;
                margin-left: 10px;
                display: flex;
                min-height: max-content;
            }
            h4{
                width: 95%;
                margin-left: 10px;
                margin-top: 5px;
                color: rgb(47, 47, 47);
                min-height: max-content;
            }
            p{ 
                font-size: 1rem;
                margin-left: 10px;
                min-height: max-content;
            }
        }
        .Card:hover{
            transition: .2s ease;
            transform: translateY(-10px);
            border: none;
            box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.55);
        }
    }
}
@keyframes blinking {
    0%{
        opacity: 0;
    }   
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }        
}

@media (max-width:600px) {
    .home{
        height: max-content;
        .Home_hero{
            #p1{
                font-size: 1.3rem;
            }
            #p2{
                font-size: 1rem;
            }
        }
        .Cars_{
            height: max-content;
            margin-bottom: 20px;
            p{
                font-size: 2rem;
                margin-bottom: 30px;
                margin-top: 40px;
            }    
            .Car_cards{
                position: relative;
                display: block;

                .Card{
                    height: 100%;
                    width: 80%;
                    margin: 20px auto;

                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 50%;
                    }
                    h2{
                        font-size: 1.2rem;
                    }
                    h4{
                        display: flex;
                        width: 90%;
                        text-align: left;
                        font-size: .7rem;
                    }
                    #car_pg_link{
                        position: relative;
                        font-size: .7rem;
                    }
                }
            }
        }
    }
}