.g63{
    background-color: #0e0e0e;

    .g63_Hero{
        position: relative;
        height: 100vh;
        min-width: 100vw;
        overflow: hidden;
    
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
        p{
            position: absolute; 
            left: 50%;
            top: 94.5%;
            transform: translate(-50%,-50%);
            width: max-content;
            font-size: 1.7rem;
            color: white;
        }
        #g63{
            background-color: #0e0e0e;
            width: 100%;
            margin-top: 10px;
            padding: 10px 0px 20px 0px;
            margin-bottom: 20px;
        }
    }
    .g63_Features{
        position: relative;
        height: 100vh;
        width:  100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .g63_features_Images{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 4.4vw);
        gap: 5px;
        height: 80vh;
        width: 35vw;
        z-index: 2;
    
        #g63_Img1{
            grid-column-start: 1;
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 8;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom ;
        }
        #g63_Img1:hover, #g63_Img2:hover, #g63_Img3a:hover, #g63_Img3b:hover{
            transform: scale(1.02);
            transition: .5s ease-in-out;
        }
        #g63_Img2{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 5;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        #g63_Img3a{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        #g63_Img3b{
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 5;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    .g63_features_desc{
        display: flex;
        height: 80vh;
        width: 40vw;
        margin-top: -100px;
    
        p{
            color: white;
        }
        #para_1_heading{
            color: white;
            font-size: 1.5rem;
        }
        #para_1{
            position: absolute;
            font-size: 1.2rem;
            top: 10%;
            display: block;
            align-items: center;
            width: 100%;
            left: 9%;
            color: rgb(116, 115, 115);
            font-weight: bold;
        }
        #para_1_heading{
            color: white;
            font-size: 1.5rem;
        }
        #para_2{
            position: absolute;;
            font-size: 1.2rem;
            left: 9%;
            top: 33%;
            width: 100%;
        }
        #para_3{
            position: absolute;
            font-size: 1.2rem;
            left: 9%;
            top: 55%;
            width: 100%;
        }
        #para_4{
            position: absolute;
            display: flex;
            align-items: center;
            font-weight: bold;
            left: 9%;
            top: 73%;
            width: 100%;
    
            #amount{
                font-size: 1.4rem;
            }
        }
        #span_txt{
            color: rgb(116, 115, 115);
            font-weight: bold;
        }
    }
    .g63_Bookings{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -100px;
    }
    .Booking_Section1{
        width: 40vw;
        height: 70vh;
    
        p{
            font-size: 2rem;
            color: white;
        }
        #book_Sect_txt{
            font-size: 1.3rem;
            color: rgb(116, 115, 115);
        }
        #book_1{
            margin-top: 5%;
            margin-left: 1%;
        }
        #book_2{
            margin-left: 1%;
            margin-top: 10%;
        }
        #Btn_Book{
            display: flex;
            align-items: center;
            margin-top: 10%;
            margin-left: 1%;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            background-color: white;
        }
        #Btn_Book:hover, #Btn_Test:hover{
            transition: .2s ease;
            background-color: aliceblue;
        }
        #Btn_Test{
            display: flex;
            align-items: center;
            margin-top: 5%;
            margin-left: 1%;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            background-color: white;
        }
    }
    .Booking_Section2{
        width: 50vw;
        height: 70vh;
        overflow: hidden;
        
        img{
            width: 100%;
            height: 99%;
            object-fit: cover;
        }
        img:hover{
            transition:  .3s ease;
            border-radius: 10px;
        }
    }
}
@media (max-width:600px) {
    .g63{
        height: max-content;
        
        .g63_Hero{
            width: 100vw;
            img{
                width: 240%;
                object-fit: contain;
                object-position: center;
                margin-left: -50px;
            }
            p{
                font-size: 1rem;
                bottom: 5%;
                height: max-content;
            }
        }
        .g63_Features{
            display: block;
            height: max-content;

            .g63_features_Images{
                display: grid;
                grid-template-rows: repeat(8, 13vw);
                width: 80%;
                height: max-content;
                border-radius: 3px;
                margin: 200px auto 0px auto;
            }
            .g63_features_desc{
                width: 80%;
                margin: auto;

                #para_1_heading{
                    font-size: 1rem;
                    width: 100%;
                }
                #para_1{
                    width: 80%; 
                    font-size: 1rem;
                    margin-top: -30px;
                }
                #para_2{
                    font-size: 1rem;
                    width: 85%;
                    margin-top: -50px;
                }
                #para_3{
                    font-size: 1rem;
                    margin-top: -100px;
                    width: 85%;
                }
                #para_4{
                    width: 80%;
                    font-size: .7rem;
                    margin: -150px 0px 0px 0px;
                    #amount{font-size: .8rem;}
                }
            }
        }
        .g63_Bookings{
            width: 85%;
            margin: 0px auto;
            height: max-content;

            .Booking_Section1{
                display: block;
                width: 100%;
                height: max-content;
                margin: 50px auto 100px auto;

                #book_1,#book_2{font-size: 1.5rem;}

                #book_Sect_txt{font-size: 1rem;}

                #Btn_Test,#Btn_Book{font-size: .8rem;}
            }
            .Booking_Section2{display: none;}
        }  
    }
}
