.contact_{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 65vh;
    color: white;

    .left{
        height: 80%;
        width: 40%;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8,vw);
        gap: 10px;

        p{
            font-size: 2.5rem;
            font-weight: bolder;
            grid-column-start: 1;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 100%;
            height: 100%;
        }
        .underline{
            height: 2px;
            background-color: white;
            border: 50%;
            width: 11vw;
            margin-left: -540px;
            margin-top: 55px;
        }
        #contactName{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 100%;
            height: 100%;
            margin: 0px 5px;
        }
        #contactEmail{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 4;
            width: 100%;
            height: 100%;
            margin: 0px 5px;
        }
        #contactMessage{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 4;
            grid-row-end: 6;
            width: 100%;
            height: 60%;
            margin-left: 5px;
        }
        input{
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            font-size: 1.2rem;
            margin: 10px 0px;
            padding: 10px 0px 5px 2px;
            width: 65%;
            letter-spacing: .5px;
            outline: none;
            letter-spacing: 1px;
            border-radius: 3px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        input:focus-visible{
            transition: .5s ease ;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: rgba(255, 255, 255, 0.098);
        }
        textarea{
            resize: none;
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            font-size: 1.2rem;
            margin: 10px 0px;
            padding: 10px 0px 5px 2px;
            width: 65%;
            letter-spacing: .5px;
            outline: none;
            letter-spacing: 1px;
            border-radius: 3px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        textarea:focus-visible{
            transition: .5s ease;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: rgba(255, 255, 255, 0.098);
        }
        button{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 6;
            width: 60%;
            height: 100%;
            margin-top: 0px;
            margin-left: 5px;
            outline: none;
            border: none;
            padding: 3px;
            font-weight: bold;
            border-radius: 5px;
        }
        button:hover{
            transition: .5s ease;
            background-color: rgba(160, 160, 160, 0.999);
        }
    }
    .center{
        height: 90%;
        width: 2px;
        background-color: white;
        border-radius: 50%;
        margin: 0px 60px;
    }
    .right{
        height: 80%;
        width: 40%;
        border: 2px solid green;
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8,vw);

    }
}