.s_90{
    background-color: black;

    .s90_Hero{
        position: relative;
        height: 100vh;
        min-width: 100vw;
        overflow: hidden;
    
        img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
        p{
            position: absolute;
            bottom: 0%;
            height: max-content;
            width: 100%;
            font-size: 1.7rem;
            color: white;
            background-color: black;
            padding: 10px;
        }
    }
    .s90_Features{
        position: relative;
        height: 100vh;
        width:  100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .s90_features_Images{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 4.4vw);
        gap: 5px;
        height: 80vh;
        width: 35vw;
        z-index: 2;
    
        #s90_Img1{
            grid-column-start: 1;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 4;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        #s90_Img1:hover, #s90_Img2:hover, #s90_Img3a:hover, #s90_Img3b:hover{
            transform: scale(1.02);
            transition: .5s ease-in-out;
        }
        #s90_Img2{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 6;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        #s90_Img3a{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 6;
            grid-row-end: 9;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        #s90_Img3b{
            grid-column-start: 5;
            grid-column-end: 9;
            grid-row-start: 4;
            grid-row-end: 9;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .s90_features_desc{
        position: relative;
        display: flex;
        height: 80vh;
        width: 50vw;
    
        p{
            color: white;
        }
        #para_1_heading{
            color: white;
            font-size: 1.5rem;
        }
        #para_1{
            position: absolute;
            font-size: 1.2rem;
            top: 7%;
            display: block;
            align-items: center;
            width: 100%;
            color: rgb(116, 115, 115);
            font-weight: bold;
            margin: 10px;
        }
        #para_1_heading{
            color: white;
            font-size: 1.5rem;
        }
        #para_2{
            position: absolute;
            font-size: 1.2rem;
            top: 30%;
            width: 100%;
            margin: 10px;
        }
        #para_3{
            position: absolute;;
            font-size: 1.2rem;
            top: 57%;
            width: 100%;
            margin: 10px;
        }
        #para_4{
            position: absolute;
            display: flex;
            align-items: center;
            font-weight: bold;
            top: 85%;
            width: 100%;
            margin: 10px;
    
            #amount{
                font-size: 1.4rem;
            }
        }
        #span_txt{
            color: rgb(116, 115, 115);
            font-weight: bold;
        }
    }
    .s90_feat_visual{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .visual_feature1{
            width: 20vw;
            height: 80vh;

            video{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
            p{
                margin-top: 10px;
                color: white;
                font-size: 1.1rem;
            }
        }
        .visual_feature2{
            width: 20vw;
            height: 80vh;

            video{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
            p{
                margin-top: 10px;
                color: white;
                font-size: 1.1rem;
            }
        }
        .visual_feature3{
            width: 20vw;
            height: 80vh;

            video{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
            p{
                margin-top: 10px;
                color: white;
                font-size: 1.1rem;
            }
        }
    }
    .s90_Bookings{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .Booking_Section1{
        width: 40vw;
        height: 70vh;
    
        p{
            font-size: 2rem;
            color: white;
        }
        #book_Sect_txt{
            font-size: 1.3rem;
            color: rgb(116, 115, 115);
        }
        #book_1{
            margin-top: 5%;
            margin-left: 1%;
        }
        #book_2{
            margin-left: 1%;
            margin-top: 10%;
        }
        #Btn_Book{
            display: flex;
            align-items: center;
            margin-top: 5%;
            margin-left: 1%;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            background-color: white;
        }
        #Btn_Book:hover, #Btn_Test:hover{
            transition: .2s ease;
            background-color: aliceblue;
        }
        #Btn_Test{
            display: flex;
            align-items: center;
            margin-left: 1%;
            font-size: 1.3rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            background-color: white;
            margin-top: 5%;
        }
    }
    .Booking_Section2{
        width: 50vw;
        height: 70vh;
        overflow: hidden;
        
        img{
            width: 100%;
            height: 99%;
            object-fit: cover;
        }
        img:hover{
            transition:  .3s ease;
            border-radius: 10px;
        }
    }
}
@media (max-width:600px) {
    .s_90{
        height: max-content;
        
        .s90_Hero{
            width: 100vw;

            img{
                width: 240%;
                object-fit: contain;
                object-position: left;
                margin-left: -225px;
            }
            p{
                font-size: .9rem;
                height: max-content;
                width: 100%;
                bottom: 5%;
            }
        }
        .s90_Features{
            display: block;
            height: max-content;

            .s90_features_Images{
                display: grid;
                grid-template-rows: repeat(8, 13vw);
                width: 80%;
                height: max-content;
                margin: 70px auto;
                border-radius: 3px;
            }
            .s90_features_desc{
                width: 80%;
                margin: auto;

                #para_1_heading,#para_1{
                    font-size: 1rem;
                    width: 100%;
                }
                #para_2{
                   font-size: 1rem;
                   margin-top: -10px;
                }
                #para_3{
                    font-size: 1rem;
                    margin-top: 15px;
                }
                #para_4{
                    font-size: 1rem;
                    font-size: .9rem;
                    #amount{font-size: .9rem;}
                }
            }
        }
        .s90_feat_visual{
            display: block;
            height: max-content;
            width: 85%;
            margin: 90px auto;
            
            .visual_feature1, .visual_feature2,.visual_feature3{
                width: 85%;
                margin: 40px auto;
                height: max-content;

                video{
                    display: block;
                    width: 80%;
                    height: 50vh;
                    margin: 10px auto;
                }
                p{
                    font-size: .9rem;
                    width: 80%;
                }
            }
        }
        .s90_Bookings{
            width: 85%;
            margin: 0px auto;
            height: max-content;

            .Booking_Section1{
                display: block;
                width: 100%;
                height: max-content;
                margin: 50px auto 100px auto;

                #book_1,#book_2{font-size: 1.5rem;}

                #book_Sect_txt{font-size: 1rem;}

                #Btn_Test,#Btn_Book{font-size: .8rem;}
            }
            .Booking_Section2{display: none;}
        }  
    }
}