.accessories{
    height: max-content;
    width: 100vw;
    color: white;
    background: black;

    #accessories_title{
        margin-top: 15vh;
        margin-bottom: 5vh;
        font-size: 3rem;
        color: white;
    }
    .card{
        position: relative;
        width: 25vw;
        height: 62.5vh;
        border: 1px solid white;
        margin: 20px;
        border-radius: 5px;
        min-height: max-content;

        #card_title{
            font-size: 1.2rem;
            margin-top: 5px;
            border-bottom: .5px solid white;
            width: max-content;
        }
        #card_desc{
            width: 90%;
            margin-top: 10px;
        }
        img{
            width: 100%;
            height: 50%;
            object-fit: cover;
            object-position: center;
        }
        #price{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -10px;
        }
        a{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            padding: 2px;
            color: white;
            background-color: transparent;
            outline: none;
            border: none;
        }
        
    }
    .card:hover{
        transition: .2s ease;
        transform: translateY(-10px);
    }
    .card_row1{
        height: 50%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 80px 0px;
    }
    .card_row2{
        height: 50%;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        margin: 80px 0px;
    }
    #accessories_input{
        margin-top: 150px;
        font-size: 2.5rem;
    }
    form{
        position: relative;
        margin: 70px 0px;
        width: 80vw;
        height: 100%;
    }
    input{
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        margin: 40px 40px;
        padding: 10px 0px 10px 2px;
        width: 35%;
        letter-spacing: .5px;
        outline: none;
        letter-spacing: 1px;
    }
    input::placeholder{
        color: rgb(255, 255, 255);
    }
    input:focus-visible{
        transition: .5s ease ;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: rgba(255, 255, 255, 0.098);
    }
    select{
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        font-size: 1.2rem;
        margin: 30px 0px;
        padding: 10px 0px 5px 0px;
        width: 30%;
        outline: none;
        letter-spacing: 1px;
    }
    option{
        color: black;
    }
    #access_submit{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: bolder;
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 25px 5px 0px 20px;
    }
    #access_submit:hover{
        transition: .2s ease;
        box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.59);
    }
    #price{
        width: max-content;
        font-size: 1.2rem;
        margin: 10px 0px;
        border-bottom: 1px solid rgba(119, 119, 119, 0.249);

    }

}
@media (max-width:600px) {
    .accessories{
        height: max-content;

        #accessories_title{
            font-size: 2.5rem;
        }
        .card_row1 , .card_row2{
            display: block;
            height: max-content;
            margin: auto;
        }
        .card{
            display: block;
            height: max-content;
            width: 90%;

            #card_title{
                font-size: 1rem;
            }
            #card_desc{
                font-size: .9rem;
            }
            #price{
                font-size: .9rem;
            }
            a{
                font-size: .8rem;
            }

        }
        #accessories_input{
            font-size: 2rem;
        }
        form{
            height: max-content;
            width: 100%;

            input , select{
                display: block;
                width: 70%;
                font-size: 1rem;
            }
            #access_submit{
                font-size: .8rem;
            }
        }
    }
}
